<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/error_page_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>400</title>
  </head>
  <body>
    <div id="home">
      <a href="/" id="terrafirma_logo_ref" title="Home"><img id="navbar_terrafirma_logo" src="https://terrafirma-website-static.s3.eu-west-2.amazonaws.com/images/Base-Layout/TF_White_Logo.png" alt="Terrafirma"></a>
      <div class="container-fluid h-100">
        <div class="row flex-grow-1 h-100">
          <div class="col-8">
            <div class="landing_text">
              <a href="javascript:history.back()"><i class="fa fa-chevron-left" id="back_button" style="font-size: 50px"></i></a><h1>408</h1>
              <h3>Bad Request</h3>
              <h5>The server cannot or will not process the request due to an apparent client error.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
